[user]
	email = james.maddison@v-nova.com
	name = James Maddison
[core]
	editor = nvim
	pager = less -F -X
	autocrlf = false
	eol = lf
[alias]
	ch = checkout
	st = status
	untracked = ls-files --others --exclude-standard
	conflicts = diff --name-only --diff-filter=U
[diff]
	tool = smerge
[merge]
	tool = smerge
[submodule]
	recurse = true
[color "diff"]
	whitespace = red reverse
[init]
	templatedir = /home/james/.git
[pull]
	ff = only
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
