[user]
	email = james.maddison@v-nova.com
	name = James Maddison
[core]
	editor = nvim
[alias]
	ch = checkout
	st = status
	untracked = ls-files --others --exclude-standard
	conflicts = diff --name-only --diff-filter=U
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[submodule]
	recurse = true
